{% extends 'admin/index.html.twig' %}

{% block content %}

    <p class="title">IMAGES FOR LOT {{ po_number }}</p>

    <div class="lot_image_wrapper">
      
        {% for p in 0..9 %}
   
            {% if photos[p] != "" %}
            <div class="lot_image_infos">
                <div>{{ photos[p] }}</div>
                <div><a href="{{path('admin_delete_photo', {'id': lot.id, 'name': photos[p], 'state': state }) }}" class="btn btn-delete">Delete</a></div>
            </div>
            <div class="lot_image_holder">
                <img style="lot_image" src="{{asset('uploads/photos/'~po_number~'/'~photos[p])}}" width="100%">
            </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}

{% block footer %}
        <a href=" {{ path('admin_view_lots', {'id': lot.po.id, 'state': state}) }} " class="btn">Back</a> 
{% endblock %}