{% extends 'admin/index.html.twig' %}

{% block content %}

     <p class="title">LOTS FOR PO{{ po }}</p>

    {% if lot is empty  %}

        <div class="settings_container">
            <p>No lots for PO {{ po }}</p>
        </div>

    {% else %}
        <table class="table" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                <td>PO</td>
                <td>Format</td>
                <td>Weight</td>
                <td>Pictures</td>
                </tr>
            </thead>
            <tbody>           
                {% for l in lot %}
                    <tr>
                    <td>{{ l.number }}</td>
                    <td>{{ l.format }}</td>
                    <td>{{ l.weight }}</td>
                    <td>
                    {% set nb_photos = 0 %}
                    {% for photo in l.photos %}
                        {%- if photo %}
                            {%- set nb_photos = nb_photos + 1 -%}
                        {%- endif %}
                    {% endfor %}
                        <span class="nb_pictures">{{ nb_photos }}</span>
                        {% if nb_photos > 0 %}
                            <a href="{{ path('admin_view_photos', {'id': l.id, 'state': state }) }}" class="btn btn-table-left">View photos</a>                                    
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}

{% block footer %}
        <a href=" {{ path('admin_polist', {'active': state}) }} " class="btn btn-back">Back</a>
{% endblock %}

