{% extends 'admin/index.html.twig' %}

{% block content %}

<p class="title">Add of modify emails for PO send</p>
  <table class="form_table">
 {{ form_start(emailsForm) }}
   
    <tr>
        <td>{{ form_label(emailsForm.email) }}</td>
        <td>
        {{ form_widget(emailsForm.email) }}
        </td>
    </tr>
    <tr>
        <td>{{ form_label(emailsForm.active) }}</td>
        <td>
        {{ form_widget(emailsForm.active) }}
        </td>
    </tr>


 {% endblock %}

 {% block footer %}
    <a href=" {{ path('settings_menu') }} " class="btn btn-back">Back</a>
    {{ form_row(emailsForm.submit, {
        label: 'Confirm',
        'attr': {'class': 'btn btn-option'}
    }) }}  
    {{ form_end(emailsForm) }}
{% endblock %}